---
layout: archive
title: "Book Chapters"
permalink: /bookchapters/
author_profile: true
---

{% assign year_group = nil %}

{% for post in site.bookchapters reversed %}
  {% assign current_year = post.date | date: "%Y" %}
  {% if current_year != year_group %}
    {% assign year_group = current_year %}
    <h2 class="archive__item-title no_toc" id="{{ year_group }}">{{ year_group }}</h2>
  {% endif %}

  <div class="archive__item">
    <article class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork">
      <h3 class="archive__item-title" itemprop="headline">
        <a href="{{ post.paperurl | default: post.url }}" rel="permalink">{{ post.title }}</a>
      </h3>
      {% if post.citation %}
        <p class="archive__item-citation" itemprop="citation">{{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}
    </article>
  </div>
{% endfor %}