---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% assign year_group = nil %}

{% for talk in site.talks reversed %}
  {% assign current_year = talk.date | date: "%Y" %}
  {% if current_year != year_group %}
    {% assign year_group = current_year %}
    <h2 class="archive__item-title no_toc" id="{{ year_group }}">{{ year_group }}</h2>
  {% endif %}

  <div class="archive__item">
    <article class="archive__item" itemscope="" itemtype="http://schema.org/Event">
      <h3 class="archive__item-title" itemprop="name" style="cursor: text; pointer-events: none; text-decoration: none; color: inherit;">
        {{ talk.venue }}
      </h3>
      
      <p class="page__meta">
        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ talk.location }} &bull; <time datetime="{{ talk.date | default: "1900-01-01" | date_to_xmlschema }}">{{ talk.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
      </p>

      {% if talk.title and talk.title != "" %}
        <p class="archive__item-details">
          Presented work: {{ talk.title }}<br>
          {% if talk.authors and talk.authors != "" %}
            Authors: {{ talk.authors }}<br>
          {% endif %}
          Type: {{ talk.type | default: "Oral Presentation" }}
        </p>
      {% endif %}
    </article>
  </div>
{% endfor %}